/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333333;
    margin: 0;
    padding: 20px;
}

/* Estilos para la sección de navegación */
.options-nav nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}
.options-nav a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
.options-nav a:hover {
    text-decoration: underline;
}



/* Contenedor principal de ítems/platillos */
.desc-platillos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Estilo individual para cada ítem/platillo */
.item-platillo {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* Estilo para la imagen del platillo */
.item-platillo img {
    border-radius: 5px;
    margin-right: 15px;
}

/* Estilo para el contenedor de texto del platillo */
.item-platillo div {
    display: flex;
    flex-direction: column;
}

/* Estilo para los títulos dentro del contenedor de texto */
.item-platillo h6 {
    margin: 2px 0;
    font-size: 16px;
    color: #333333;
}

/* Estilo para el precio del platillo */
.item-platillo h6:nth-child(2) {
    font-weight: bold;
    color: #e74c3c;
}

/* Estilo para la descripción del platillo */
.item-platillo h6:nth-child(3) {
    font-style: italic;
    color: #777777;
}

/* Estilo para la sección de Top Platillos */
.top-platillos {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eef6f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.top-platillos h2 {
    text-align: center;
    color: #2c3e50;
}
.top-platillos ol {
    margin-top: 10px;
    padding-left: 20px;
}
.top-platillos li {
    margin-bottom: 5px;
    color: #2c3e50;
}

